
body {
   background-color: white; 
}
.navbar-nav {
}

.let{
   padding-top: 5%;
}

.arzu {
font-size: 150%;
font-size: xx-large; 
text-size-adjust: 100%;
text-align: center;
padding-top:13%;
}

.a {
   
}

footer {
   padding-top: 7%;
   text-align: center;
   font-size: x-small
   ;
}
.card {
   text-align: center;
   
}
.fampic {
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}